[submodule "ansible/roles/sudo"]
	path = ansible/roles/sudo
	url = https://github.com/yatesr/ansible-sudo.git
[submodule "ansible/roles/ssl-keys"]
	path = ansible/roles/ssl-keys
	url = https://github.com/yatesr/ansible-sslkeys.git
[submodule "ansible/roles/timezone"]
	path = ansible/roles/timezone
	url = https://github.com/yatesr/ansible-timezone.git
[submodule "ansible/roles/users"]
	path = ansible/roles/users
	url = https://github.com/yatesr/ansible-users.git
[submodule "ansible/roles/ufw"]
	path = ansible/roles/ufw
	url = https://github.com/yatesr/ansible-ufw.git
[submodule "ansible/roles/sshd"]
	path = ansible/roles/sshd
	url = https://github.com/yatesr/ansible-sshd.git
[submodule "ansible/roles/ntp"]
	path = ansible/roles/ntp
	url = https://github.com/yatesr/ntp.git
[submodule "ansible/roles/mysql"]
	path = ansible/roles/mysql
	url = https://github.com/yatesr/ansible-mysql
