<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<Server port="{{ confluence_server_port }}" shutdown="SHUTDOWN" debug="0">
    <Service name="Tomcat-Standalone">
        <Connector port="{{ confluence_connector_port }}" connectionTimeout="20000" redirectPort="8443"
                   maxThreads="200" maxPostSize="16777216" minSpareThreads="10"
                   enableLookups="false" acceptCount="10" URIEncoding="UTF-8"
                   protocol="org.apache.coyote.http11.Http11NioProtocol" debug="0"
                   {% if confluence_proxy_name and confluence_scheme in ["http", "https"] %} proxyName="{{ confluence_proxy_name }}"{% if confluence_scheme == "http" %} scheme="http" proxyPort="80"{% elif confluence_scheme == "https" %} scheme="https" proxyPort="443" secure="true"{% endif %}{% endif %}/>

        <Engine name="Standalone" defaultHost="localhost" debug="0">
           <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="false" startStopThreads="4" debug="0">
                <Context path="" docBase="../confluence" reloadable="false" useHttpOnly="true" >
                    <!-- Logging configuration for Confluence is specified in confluence/WEB-INF/classes/log4j.properties -->
                    <Manager pathname=""/>
                    <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="60"/>

                    <!-- http://tomcat.apache.org/tomcat-9.0-doc/config/valve.html#Access_Log_Valve -->
                    <Valve className="org.apache.catalina.valves.AccessLogValve"
                           directory="logs"
                           maxDays="30"
                           pattern="%t %{X-AUSERNAME}o %I %h %r %s %Dms %b %{Referer}i %{User-Agent}i"
                           prefix="conf_access_log"
                           requestAttributesEnabled="true"
                           rotatable="true"
                           suffix=".log"
                    />

                    <!-- http://tomcat.apache.org/tomcat-9.0-doc/config/valve.html#Remote_IP_Valve -->
                    <Valve className="org.apache.catalina.valves.RemoteIpValve" />
                </Context>

                <Context path="${confluence.context.path}/synchrony-proxy" docBase="../synchrony-proxy"
                         reloadable="false" useHttpOnly="true" debug="0">
                    <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="60"/>
                </Context>
            </Host>
        </Engine>
    </Service>
</Server>
