---
  - name: Add backup directory
    file:
      state: 'directory'
      path: "/opt/backups"
      owner: '{{ backup_user }}'
      group: '{{ backup_user }}'
      mode: "0711"
  - name: Copy backup uploader
    copy:
      owner: root
      group: root
      mode: 0755
      src: files/backups/backup-upload.sh
      dest: "/usr/sbin/backup-upload.sh"
  - name: Backup cron
    cron:
      name: "backup-upload"
      user: '{{ backup_user }}'
      minute: "0"
      hour: "4"
      job: "/usr/sbin/backup-upload.sh {{ inventory_hostname_short }} >> /home/backup-s3/backups.log 2>&1"
  - name: Copy backup app home folders
    copy:
      owner: root
      group: root
      mode: 0755
      src: files/backups/pack-app-home-folders.sh
      dest: "/usr/sbin/pack-app-home-folders.sh"
  - name: Backup cron
    cron:
      name: "backup-pack-home"
      user: 'root'
      minute: "0"
      hour: "1"
      job: "/usr/sbin/pack-app-home-folders.sh {{ inventory_hostname_short }} >> /home/backup-s3/backups-pack.log 2>&1"
