rmiPort$Long={{ jiraRmi }}
app.jiraHome={{ jiraHome }}
app.install.service$Boolean=true
existingInstallationDir=/usr/local/JIRA
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{ jiraData }}
executeLauncherAction$Boolean=true
httpPort$Long={{ jiraHttp }}
portChoice=default
