# from Ansible Galaxy
- name: aws-cli
  src: ssilab.aws-cli
  version: v1.1
- name: datadog
  src: Datadog.datadog
  version: 2.6.0
- name: docker
  src: andrewrothstein.docker
  version: v5.0.4
- name: nginx
  src: geerlingguy.nginx
  version: 2.1.0
- name: mysql
  src: geerlingguy.mysql
  version: 2.8.0



# from git
- name: docker-compose-openmrs
  src: https://github.com/openmrs/openmrs-contrib-ansible-docker-compose.git
- name: docker-compose
  src: https://github.com/weareinteractive/ansible-docker-compose
  version: 1.2.2
- name: dhparam
  src: https://github.com/gronke/ansible-dhparam.git
  version: c6fc0c45991a8ec0e2d7f631241f870fb87d4dfb
- name: letsencrypt
  src: https://github.com/thefinn93/ansible-letsencrypt
  version: c28dbb1c5d06971d3eb38044635bdd425003f2ce
- name: sudo
  src: https://github.com/yatesr/ansible-sudo.git
  version: 2a55007541a2f340eec57e4e5a7efa1c3fc73d74
- name: timezone
  src: https://github.com/yatesr/ansible-timezone.git
  version: 854af629e6740c92b9098026148906643a13465c
- name: ufw
  src: https://github.com/yatesr/ansible-ufw.git
  version: f0f7615a9b1c03f29d501e169caa9ea2538cdded
- name: users
  src: https://github.com/cintiadr/ansible-users.git
  version: 0986a64bd243c9181e0245580e39ee23bdedf546
- name: jira
  src: https://github.com/cintiadr/ansible-role-jira
  version: 0185068240cf7df65fd5827cdae00bab547a23e1
- name: mysql-connector-java
  src: https://github.com/cintiadr/ansible-role-mysql-connector-java.git
  version: 7a9ecef6bde1fdc890b755c179a87bbe7e597dcd
- name: confluence
  src: https://github.com/cintiadr/ansible-role-confluence.git
  version: 402551f5975dda36239b21163517e4472891f561
- name: bamboo
  src: https://github.com/cintiadr/ansible-role-bamboo.git
  version: 2fc0a8e84c0ddfbe5fcd4b2f4232db25cad86208
- name: crowd
  src: https://github.com/cintiadr/ansible-role-crowd.git
  version: 5e24c59a607ec65f3cbd59d2876209e5a331f0d6
- name: mysql-cron-backup
  src: https://github.com/gcoop-libre/ansible-role-mysqldump.git
  version: 9343efd6d77a79ba46f10898da68e99f8bb5adac
- name: logrotate
  src: https://github.com/nickhammond/ansible-logrotate
  version: 91d570f68c44261d2051a99a2b3c7d736306bf0d
