---
# Master Playbook

- hosts: full-ansible
  become: true
  tasks:
   - include: tasks/hostname.yml # should happen before installing datadog
   - include: tasks/updates.yml

- hosts: all
  become: true
  tags:
    - soe
  roles:
   - users
   - sudo
   - sshd
   - ufw
   - datadog
  tasks:
    - include: tasks/extra-monitoring.yml
  handlers:
    - include: handlers/monitoring.yml

- hosts: tls
  become: true
  tasks:
    - include: tasks/extra-tls.yml
  roles:
    - dhparam
    - letsencrypt
  handlers:
    - include: handlers/monitoring.yml

- hosts: web
  become: true
  roles:
   - nginx

- hosts: backup
  become: true
  tags:
   - backup
  tasks:
   - include: tasks/backup.yml
  roles:
   - aws-cli
  handlers:
    - include: handlers/monitoring.yml

- hosts: docker
  become: true
  tags:
   - docker
  roles:
   - docker
   - docker-compose
   - docker-compose-openmrs
  tasks:
   - include: tasks/docker-install-hacks.yml
  handlers:
    - include: handlers/monitoring.yml

- hosts: jira
  become: true
  roles:
    - java
    - jira
    - mysql-connector-java
  tags:
    - jira

- hosts: confluence
  become: true
  roles:
    - java
    - confluence
    - mysql-connector-java
  tags:
    - confluence

- hosts: bamboo
  become: true
  roles:
    - java
    - bamboo
    - mysql-connector-java
  tags:
    - bamboo

- hosts: bamboo-agent
  become: true
  tasks:
   - include: tasks/bamboo-agent.yml
  tags:
    - bamboo-agent

- hosts: crowd
  become: true
  roles:
    - java
    - crowd
    - mysql-connector-java
  tags:
    - crowd

- hosts: mysql
  become: true
  roles:
    - mysql
    - mysql-cron-backup
  tasks:
    - include: tasks/mysql-install-hack.yml
  handlers:
    - include: handlers/apparmor-restart.yml
    - include: handlers/mysql-restart.yml
