<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <servers>
    <server>
      <id>openmrs-repo-releases</id>
      <username>ci</username>
      <password><%= @maven_password %></password>
    </server>
    <server>
      <id>openmrs-repo-snapshots</id>
      <username>ci</username>
      <password><%= @maven_password %></password>
    </server>
    <server>
      <id>openmrs-repo-modules</id>
      <username>ci</username>
      <password><%= @maven_password %></password>
    </server>
    <server>
      <id>openmrs-repo-contrib</id>
      <username>ci</username>
      <password><%= @maven_password %></password>
    </server>
    <server>
      <id>docker.io</id>
      <username>openmrsci</username>
      <password><%= @docker_password %></password>
    </server>
  </servers>

  <profiles>
      <profile>
          <id>defaultProfile</id>
          <activation>
              <activeByDefault>true</activeByDefault>
          </activation>
          <properties>
              <sonar.login><%= @sonar_login_token %></sonar.login>
              <sonar.host.url>https://sonar.openmrs.org</sonar.host.url>
          </properties>
          <!-- Always retrieve latest snapshots and version range -->
          <repositories>
                <repository>
                    <id>openmrs-repo</id>
                    <url>https://mavenrepo.openmrs.org/nexus/content/repositories/public</url>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>openmrs-repo</id>
                    <url>https://mavenrepo.openmrs.org/nexus/content/repositories/public</url>
                    <releases>
                        <checksumPolicy>warn</checksumPolicy>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
      </profile>
  </profiles>

</settings>
