<?xml version="1.0" encoding="utf-8"?>
<!-- {{ ansible_managed }} -->
<Server port="{{ bamboo_server_port }}" shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on"/>
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <Service name="Catalina">
        <Connector acceptCount="100" connectionTimeout="20000" disableUploadTimeout="true" enableLookups="false" maxHttpHeaderSize="8192" maxThreads="150" minSpareThreads="25" port="{{ bamboo_connector_port }}" protocol="HTTP/1.1" redirectPort="8443" useBodyEncodingForURI="true"{% if bamboo_proxy_name and bamboo_scheme in ["http", "https"] %} proxyName="{{ bamboo_proxy_name }}"{% if bamboo_scheme == "http" %} scheme="http" proxyPort="80"{% elif bamboo_scheme == "https" %} scheme="https" proxyPort="443" secure="true"{% endif %}{% endif %}/>
        <Engine name="Catalina" defaultHost="localhost">
            <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="true">
                <Context path="{{ bamboo_context_path or '' }}" docBase="${catalina.home}/atlassian-bamboo" reloadable="false" useHttpOnly="true">
                    <Manager pathname=""/>
                </Context>
            </Host>
            <Valve className="org.apache.catalina.valves.AccessLogValve" resolveHosts="false" pattern="%a %t &quot;%m %U%q %H&quot; %s %b %D &quot;%{Referer}i&quot; &quot;%{User-Agent}i&quot;" maxDays="30" />
        </Engine>
    </Service>
</Server>
